@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&family=Montserrat:wght@300&display=swap'); 
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-style: italic; 
    /* Font weigth* de 300 400 700*/
    text-decoration: none;
    color: black;

}

#root{
    background: linear-gradient(0deg, rgba(104,221,218,255),rgba(102,222,207,255) 0%);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    background: linear-gradient(0deg, rgba(190,240,243,255),rgba(158,233,233,255) 0%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 25px;
    width: 70%;
    height: 80vh;
    box-shadow: 5px 5px 20px gray;
    margin: 0px;
    padding: 0px;

}
.card{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(240,252,252,255),rgba(204,244,240,255) 0%);
    min-width: 30%;
    height: 80vh;
    position: relative;
    border-radius: 25px;
    left: 0%;
}
.perfil{
    width: 100%;
    height: 40%;
    
}
.perfil img{
    margin-top: 15px;
    border-radius: 100%;
    max-height: 90px;
}
.perfil h1{
    font-size: 23px;
    font-weight: 300;
    padding: 5px;
}
.perfil h2{
    font-weight: 100;
    font-size: 15px;
}
.logos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 100%;

}
.logos a{
    font-size: 22px;
}



.dashboard{

    width: 100%;
    margin: 25px;
}
.dashboard h1{
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
}
.form-control{
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 30px;
    width: 100%;
    border: none;

}





