:root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(5, 200, 220);
}



